:root {
  --text-font: FiraSansRegular;
  --header-font: FiraSansExtraBold;
  --code-font: FiraCode;
}

.content {
  max-width: 944px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

.page-header {
  font-weight: 800;
}

code {
  font-family: var(--code-font);
  font-size: 0.8rem;
}

pre code[class*="language-"]::before {
  background: var(--bg-0);
  color: var(--fg-0);
}

blockquote {
  border-left: 3px solid var(--border-color);
  color: var(--fg-3);
  margin: 0;
  padding: 0.6rem 1rem;
}

blockquote p {
  margin: 0;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
  color: inherit;
}

::-moz-selection {
  text-shadow: none;
}

header .main {
  font-size: 1.5rem;
  font-family: FiraSansBold;
  
  /* Otherwise header and menu is too close on small screens*/
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: FiraSansBold;
}
