@font-face {
  font-family: FiraSansRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: FiraSansExtraBold;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: FiraSansBold;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraCode/FiraCode-Medium.ttf");
  font-display: swap;
}
