@font-face {
  font-family: FiraSansRegular;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/FiraSans/FiraSans-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraCode/FiraCode-Regular.ttf");
  font-display: swap;
}
