:root {
  // Gruvbox light colors
  --bg-0: #fbf1c7;
  --bg-1: #ebdbb2;
  --bg-2: #d5c4a1;
  --bg-3: #bdae93;
  --fg-0: #282828;
  --fg-1: #3c3836;
  --fg-2: #504945;
  --fg-3: #665c54;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;

  // Theme colors
  // --bg-0 already defined
  // --bg-1 already defined
  
  --text-0: var(--fg-0);
  --text-1: var(--fg-1);

  --primary-color: #ef5350;
  --hover-color: white;
  
  --border-color: var(--bg-1);
}
